<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <RollingFile name="LogApp" fileName="../logs/batch/batchAp.log" filePattern="../logs/batch/backup/workman-%d{yyyy-MM-dd_HH}_%i.log" immediateFlush="true" append="true">
            <!-- <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] %-5level [%thread][TraceID:%X{X-B3-TraceId},SpanID:%X{X-B3-SpanId}] %logger.%M(:%L) - %msg%n"/> -->
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] %-5level [%thread][TraceID:%equals{%X{TraceID}}{}{startup}] %logger.%M(:%L) - %msg%n"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="500"/>
        </RollingFile>

        <RollingFile name="LogException" fileName="../logs/batch/err/workman_error.log" filePattern="../logs/batch/err/backup/workman_error-%d{yyyy-MM-dd_HH}_%i.log" immediateFlush="true" append="true">
            <!-- <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] %-5level [%thread] %logger.%M(:%L) - %msg%n"/> -->
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] %-5level [%thread][TraceID:%equals{%X{TraceID}}{}{startup}] %logger.%M(:%L) - %msg%n"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="500"/>
        </RollingFile>

        <Console name="LogToConsole" target="SYSTEM_OUT">
            <!-- <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] %-5level [%thread][TraceID:%X{X-B3-TraceId},SpanID:%X{X-B3-SpanId}] %logger.%M(:%L) - %msg%n"/> -->
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] %-5level [%thread][TraceID:%equals{%X{TraceID}}{}{startup}] %logger.%M(:%L) - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>

        <Root level="info">
            <AppenderRef ref="LogApp"/>
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogException" level="error"/>
        </Root>
    </Loggers>
</Configuration>
